<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="Passport_Lite_Test.TC_InValid_EndPoint"/>
      <class name="Voter_Advance_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="GST_Advance_Prod.TC_Valid_Authentication_100"/>
      <class name="GST_Lite_Prod.TC_InValid_GST"/>
      <class name="RC_Advance_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="BAV_Lite_Test.TC_InValid_APP_Id"/>
      <class name="PAN_Lite_Test.TC_Valid_Authentication_100"/>
      <class name="DL_Advance_Prod.TC_InActive_API_key"/>
      <class name="BAV_Lite_Prod.TC_InValid_EndPoint"/>
      <class name="GST_Lite_Test.TC_Blank_API_key"/>
      <class name="DL_Advance_Test.TC_Valid_Authentication_100"/>
      <class name="Passport_Lite_Test.TC_InActive_API_key"/>
      <class name="DL_Advance_Test.TC_InValid_APP_Id"/>
      <class name="Passport_Lite_Prod.TC_InActive_APP_ID"/>
      <class name="Passport_Lite_Test.TC_GET"/>
      <class name="PAN_Advance_Test.TC_Product_Subscribed"/>
      <class name="Passport_Lite_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="PAN_Advance_Test.TC_InActive_APP_ID"/>
      <class name="PAN_Lite_Prod.TC_Blank_Body"/>
      <class name="Voter_Advance_Prod.TC_Not_Disable_Account"/>
      <class name="DL_Advance_Prod.TC_Low_Balance_Wallet"/>
      <class name="RC_Advance_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="Voter_Advance_Test.TC_Disable_IP_Whitelisting"/>
      <class name="BAV_Lite_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="RC_Advance_Prod.TC_InValid_APP_Id"/>
      <class name="PAN_Lite_Test.TC_Product_Subscribed"/>
      <class name="RC_Advance_Prod.TC_Not_Disable_Account"/>
      <class name="PAN_Advance_Prod.TC_InValid_PAN"/>
      <class name="RC_Advance_Prod.TC_Blank_API_key"/>
      <class name="PAN_Advance_Test.TC_InActive_API_key"/>
      <class name="RC_Advance_Prod.TC_GET"/>
      <class name="RC_Advance_Test.TC_InActive_API_key"/>
      <class name="PAN_Advance_Test.TC_GET"/>
      <class name="IFSC_Lite_Test.TC_InValid_API_key"/>
      <class name="DL_Advance_Test.TC_InActive_APP_ID"/>
      <class name="RC_Advance_Test.TC_InValid_API_key"/>
      <class name="PAN_Advance_Prod.TC_Consent_N"/>
      <class name="PAN_Lite_Prod.TC_InValid_APP_Id"/>
      <class name="BAV_Lite_Test.TC_Low_Balance_Wallet"/>
      <class name="DL_Advance_Test.TC_Test_Limits_Exhaust"/>
      <class name="PAN_Lite_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="RC_Lite_Test.TC_Blank_API_key"/>
      <class name="RC_Advance_Test.TC_InValid_EndPoint"/>
      <class name="RC_Lite_Prod.TC_InValid_EndPoint"/>
      <class name="DL_Advance_Test.TC_Blank_Body"/>
      <class name="BAV_Lite_Prod.TC_InActive_API_key"/>
      <class name="GST_Lite_Test.TC_Valid_Authentication_100"/>
      <class name="PAN_Advance_Test.TC_InValid_EndPoint"/>
      <class name="PAN_Lite_Prod.TC_Test_Limits_Exhaust"/>
      <class name="RC_Lite_Prod.TC_InValid_APP_Id"/>
      <class name="RC_Lite_Prod.TC_Test_Limits_Exhaust"/>
      <class name="GST_Advance_Test.TC_GET"/>
      <class name="GST_Advance_Test.TC_Product_Subscribed"/>
      <class name="GST_Lite_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="IFSC_Lite_Test.TC_Not_Disable_Account"/>
      <class name="DL_Advance_Prod.TC_InValid_EndPoint"/>
      <class name="Passport_Lite_Test.TC_InValid_API_key"/>
      <class name="DL_Advance_Test.TC_Blank_API_key"/>
      <class name="RC_Lite_Prod.TC_InActive_API_key"/>
      <class name="RC_Advance_Test.TC_Low_Balance_Wallet"/>
      <class name="Voter_Advance_Prod.TC_Blank_Body"/>
      <class name="PAN_Lite_Prod.TC_Blank_API_key"/>
      <class name="GST_Lite_Prod.TC_Not_Disable_Account"/>
      <class name="Passport_Lite_Test.TC_Valid_Authentication_100"/>
      <class name="GST_Advance_Prod.TC_GET"/>
      <class name="GST_Advance_Prod.TC_Not_Disable_Account"/>
      <class name="BAV_Lite_Test.TC_Product_Subscribed"/>
      <class name="PAN_Lite_Prod.TC_InValid_EndPoint"/>
      <class name="PAN_Lite_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="Voter_Advance_Prod.TC_Blank_APP_Id"/>
      <class name="GST_Lite_Test.TC_InValid_APP_Id"/>
      <class name="Voter_Advance_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="RC_Lite_Test.TC_Blank_APP_Id"/>
      <class name="RC_Lite_Prod.TC_Valid_Authentication_100"/>
      <class name="Passport_Lite_Prod.TC_Product_Subscribed"/>
      <class name="BAV_Lite_Test.TC_Valid_Authentication_100"/>
      <class name="GST_Lite_Prod.TC_Product_Subscribed"/>
      <class name="BAV_Lite_Prod.TC_Blank_API_key"/>
      <class name="RC_Advance_Prod.TC_InActive_APP_ID"/>
      <class name="PAN_Lite_Prod.TC_GET"/>
      <class name="Passport_Lite_Prod.TC_Blank_API_key"/>
      <class name="DL_Advance_Test.TC_Consent_N"/>
      <class name="GST_Lite_Test.TC_Blank_APP_Id"/>
      <class name="PAN_Advance_Prod.TC_Valid_Authentication_100"/>
      <class name="RC_Advance_Test.TC_Product_Subscribed"/>
      <class name="Passport_Lite_Test.TC_Consent_N"/>
      <class name="BAV_Lite_Test.TC_Test_Limits_Exhaust"/>
      <class name="PAN_Lite_Prod.TC_Low_Balance_Wallet"/>
      <class name="PAN_Advance_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="Passport_Lite_Test.TC_Not_Disable_Account"/>
      <class name="Passport_Lite_Prod.TC_Low_Balance_Wallet"/>
      <class name="Kyc.Products.AppTest"/>
      <class name="GST_Advance_Prod.TC_Low_Balance_Wallet"/>
      <class name="RC_Lite_Test.TC_InActive_APP_ID"/>
      <class name="Voter_Advance_Test.TC_InValid_API_key"/>
      <class name="Voter_Advance_Test.TC_Blank_Body"/>
      <class name="PAN_Lite_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="Voter_Advance_Test.TC_Consent_Text_200_PLUS"/>
      <class name="Passport_Lite_Test.TC_InValid_Passport"/>
      <class name="PAN_Lite_Prod.TC_InActive_API_key"/>
      <class name="PAN_Lite_Test.TC_Not_Disable_Account"/>
      <class name="DL_Advance_Prod.TC_Product_Subscribed"/>
      <class name="PAN_Advance_Test.TC_Low_Balance_Wallet"/>
      <class name="PAN_Advance_Prod.TC_GET"/>
      <class name="PAN_Advance_Test.TC_Blank_APP_Id"/>
      <class name="DL_Advance_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="Passport_Lite_Test.TC_Consent_Text_200_PLUS"/>
      <class name="PAN_Lite_Test.TC_InValid_API_key"/>
      <class name="GST_Advance_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="BAV_Lite_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="IFSC_Lite_Test.TC_Test_Limits_Exhaust"/>
      <class name="IFSC_Lite_Test.TC_Valid_Authentication_100"/>
      <class name="BAV_Lite_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="PAN_Advance_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="BAV_Lite_Prod.TC_InValid_APP_Id"/>
      <class name="GST_Lite_Test.TC_Blank_Body"/>
      <class name="Voter_Advance_Prod.TC_InActive_API_key"/>
      <class name="BAV_Lite_Prod.TC_InValid_BAV"/>
      <class name="RC_Lite_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="Passport_Lite_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="GST_Advance_Test.TC_Not_Disable_Account"/>
      <class name="Voter_Advance_Prod.TC_InValid_EndPoint"/>
      <class name="GST_Advance_Test.TC_Blank_APP_Id"/>
      <class name="BAV_Lite_Test.TC_InValid_IFSC"/>
      <class name="PAN_Lite_Prod.TC_Blank_APP_Id"/>
      <class name="Voter_Advance_Prod.TC_InActive_APP_ID"/>
      <class name="GST_Lite_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="BAV_Lite_Prod.TC_Low_Balance_Wallet"/>
      <class name="Passport_Lite_Prod.TC_Blank_Body"/>
      <class name="Voter_Advance_Test.TC_Blank_APP_Id"/>
      <class name="PAN_Advance_Prod.TC_InValid_API_key"/>
      <class name="RC_Lite_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="Passport_Lite_Prod.TC_InValid_Passport_Type"/>
      <class name="GST_Lite_Prod.TC_Blank_Body"/>
      <class name="PAN_Advance_Prod.TC_InValid_EndPoint"/>
      <class name="GST_Lite_Prod.TC_Blank_API_key"/>
      <class name="Voter_Advance_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="PAN_Lite_Test.TC_Consent_N"/>
      <class name="PAN_Advance_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="GST_Advance_Test.TC_Consent_N"/>
      <class name="PAN_Advance_Prod.TC_InActive_API_key"/>
      <class name="GST_Advance_Prod.TC_Blank_Body"/>
      <class name="DL_Advance_Prod.TC_Blank_API_key"/>
      <class name="RC_Lite_Test.TC_InValid_API_key"/>
      <class name="DL_Advance_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Lite_Test.TC_GET"/>
      <class name="PAN_Advance_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="GST_Advance_Test.TC_InActive_APP_ID"/>
      <class name="Voter_Advance_Test.TC_Consent_N"/>
      <class name="Passport_Lite_Test.TC_Blank_Body"/>
      <class name="Voter_Advance_Prod.TC_Low_Balance_Wallet"/>
      <class name="RC_Advance_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Lite_Prod.TC_Not_Disable_Account"/>
      <class name="PAN_Advance_Test.TC_Valid_Authentication_100"/>
      <class name="RC_Advance_Test.TC_InValid_RC"/>
      <class name="BAV_Lite_Test.TC_InValid_BAV"/>
      <class name="PAN_Advance_Prod.TC_Blank_Body"/>
      <class name="PAN_Lite_Prod.TC_InValid_PAN"/>
      <class name="PAN_Advance_Test.TC_Not_Disable_Account"/>
      <class name="BAV_Lite_Prod.TC_InActive_APP_ID"/>
      <class name="RC_Lite_Test.TC_Valid_Authentication_100"/>
      <class name="RC_Advance_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="RC_Advance_Test.TC_Consent_Text_200_PLUS"/>
      <class name="BAV_Lite_Prod.TC_Product_Subscribed"/>
      <class name="Passport_Lite_Prod.TC_GET"/>
      <class name="GST_Advance_Prod.TC_InActive_APP_ID"/>
      <class name="BAV_Lite_Prod.TC_GET"/>
      <class name="DL_Advance_Prod.TC_Not_Disable_Account"/>
      <class name="PAN_Lite_Test.TC_InValid_PAN"/>
      <class name="DL_Advance_Prod.TC_GET"/>
      <class name="BAV_Lite_Test.TC_Consent_Text_200_PLUS"/>
      <class name="Passport_Lite_Prod.TC_InValid_API_key"/>
      <class name="RC_Advance_Prod.TC_Test_Limits_Exhaust"/>
      <class name="Passport_Lite_Test.TC_InValid_customer_gender"/>
      <class name="PAN_Advance_Test.TC_InValid_APP_Id"/>
      <class name="Voter_Advance_Prod.TC_Product_Subscribed"/>
      <class name="IFSC_Lite_Test.TC_InValid_APP_Id"/>
      <class name="PAN_Advance_Test.TC_Blank_Body"/>
      <class name="GST_Advance_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="Passport_Lite_Test.TC_InValid_customer_country"/>
      <class name="Passport_Lite_Test.TC_InValid_Passport_Type"/>
      <class name="PAN_Advance_Prod.TC_InValid_APP_Id"/>
      <class name="Voter_Advance_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="Passport_Lite_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="PAN_Advance_Test.TC_Blank_API_key"/>
      <class name="IFSC_Lite_Test.TC_InValid_IFSC"/>
      <class name="GST_Lite_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Lite_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="PAN_Advance_Test.TC_InValid_PAN"/>
      <class name="PAN_Advance_Test.TC_Disable_IP_Whitelisting"/>
      <class name="Passport_Lite_Prod.TC_InValid_customer_country"/>
      <class name="Voter_Advance_Prod.TC_GET"/>
      <class name="DL_Advance_Prod.TC_InValid_API_key"/>
      <class name="RC_Advance_Test.TC_Disable_IP_Whitelisting"/>
      <class name="BAV_Lite_Prod.TC_Not_Disable_Account"/>
      <class name="Voter_Advance_Test.TC_Test_Limits_Exhaust"/>
      <class name="Passport_Lite_Test.TC_Product_Subscribed"/>
      <class name="BAV_Lite_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="PAN_Lite_Prod.TC_InValid_API_key"/>
      <class name="GST_Advance_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="BAV_Lite_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="Passport_Lite_Prod.TC_InValid_customer_last_name"/>
      <class name="BAV_Lite_Prod.TC_Blank_APP_Id"/>
      <class name="IFSC_Lite_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Advance_Prod.TC_Blank_APP_Id"/>
      <class name="GST_Advance_Test.TC_Blank_API_key"/>
      <class name="PAN_Advance_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="GST_Advance_Test.TC_Low_Balance_Wallet"/>
      <class name="RC_Advance_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="RC_Advance_Prod.TC_InValid_RC"/>
      <class name="Voter_Advance_Test.TC_InValid_EndPoint"/>
      <class name="PAN_Lite_Test.TC_GET"/>
      <class name="RC_Lite_Prod.TC_Blank_APP_Id"/>
      <class name="GST_Lite_Prod.TC_Blank_APP_Id"/>
      <class name="GST_Lite_Prod.TC_InActive_APP_ID"/>
      <class name="GST_Advance_Test.TC_Test_Limits_Exhaust"/>
      <class name="GST_Lite_Prod.TC_Test_Limits_Exhaust"/>
      <class name="RC_Lite_Prod.TC_Consent_N"/>
      <class name="PAN_Advance_Test.TC_Consent_N"/>
      <class name="PAN_Lite_Test.TC_Low_Balance_Wallet"/>
      <class name="Voter_Advance_Test.TC_InActive_API_key"/>
      <class name="Voter_Advance_Prod.TC_InValid_EPIC"/>
      <class name="Passport_Lite_Test.TC_Low_Balance_Wallet"/>
      <class name="Passport_Lite_Test.TC_Test_Limits_Exhaust"/>
      <class name="Passport_Lite_Test.TC_InValid_customer_last_name"/>
      <class name="PAN_Advance_Prod.TC_Blank_APP_Id"/>
      <class name="RC_Lite_Prod.TC_InValid_API_key"/>
      <class name="Passport_Lite_Test.TC_Blank_API_key"/>
      <class name="RC_Lite_Prod.TC_Blank_Body"/>
      <class name="RC_Advance_Prod.TC_Valid_Authentication_100"/>
      <class name="Passport_Lite_Prod.TC_Not_Disable_Account"/>
      <class name="IFSC_Lite_Test.TC_Product_Subscribed"/>
      <class name="PAN_Advance_Test.TC_Test_Limits_Exhaust"/>
      <class name="GST_Advance_Prod.TC_InValid_API_key"/>
      <class name="DL_Advance_Test.TC_Blank_APP_Id"/>
      <class name="PAN_Lite_Test.TC_InActive_API_key"/>
      <class name="GST_Advance_Prod.TC_Consent_N"/>
      <class name="RC_Lite_Test.TC_Disable_IP_Whitelisting"/>
      <class name="PAN_Lite_Test.TC_Test_Limits_Exhaust"/>
      <class name="GST_Advance_Prod.TC_Test_Limits_Exhaust"/>
      <class name="DL_Advance_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="IFSC_Lite_Test.TC_Consent_Text_200_PLUS"/>
      <class name="Passport_Lite_Test.TC_InValid_customer_first_name"/>
      <class name="RC_Lite_Test.TC_Blank_Body"/>
      <class name="Voter_Advance_Test.TC_Blank_API_key"/>
      <class name="GST_Advance_Prod.TC_Blank_API_key"/>
      <class name="RC_Lite_Test.TC_Consent_N"/>
      <class name="DL_Advance_Test.TC_Disable_IP_Whitelisting"/>
      <class name="DL_Advance_Test.TC_GET"/>
      <class name="GST_Advance_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Advance_Prod.TC_InValid_EndPoint"/>
      <class name="RC_Advance_Test.TC_Blank_Body"/>
      <class name="GST_Lite_Test.TC_GET"/>
      <class name="IFSC_Lite_Test.TC_InActive_APP_ID"/>
      <class name="BAV_Lite_Prod.TC_Test_Limits_Exhaust"/>
      <class name="GST_Lite_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="Voter_Advance_Test.TC_Low_Balance_Wallet"/>
      <class name="IFSC_Lite_Test.TC_Blank_Body"/>
      <class name="IFSC_Lite_Test.TC_Blank_APP_Id"/>
      <class name="GST_Lite_Test.TC_InActive_APP_ID"/>
      <class name="GST_Lite_Prod.TC_InActive_API_key"/>
      <class name="PAN_Lite_Test.TC_Blank_API_key"/>
      <class name="GST_Lite_Test.TC_Not_Disable_Account"/>
      <class name="RC_Advance_Prod.TC_InActive_API_key"/>
      <class name="Voter_Advance_Test.TC_Not_Disable_Account"/>
      <class name="Passport_Lite_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="PAN_Advance_Test.TC_InValid_API_key"/>
      <class name="DL_Advance_Test.TC_InValid_API_key"/>
      <class name="RC_Lite_Test.TC_Sufficient_Balance_Wallet"/>
      <class name="BAV_Lite_Test.TC_GET"/>
      <class name="GST_Lite_Prod.TC_InValid_EndPoint"/>
      <class name="PAN_Lite_Prod.TC_Valid_Authentication_100"/>
      <class name="PAN_Lite_Prod.TC_Not_Disable_Account"/>
      <class name="Voter_Advance_Prod.TC_InValid_API_key"/>
      <class name="DL_Advance_Prod.TC_Valid_Authentication_100"/>
      <class name="RC_Advance_Test.TC_Valid_Authentication_100"/>
      <class name="PAN_Lite_Test.TC_InActive_APP_ID"/>
      <class name="BAV_Lite_Test.TC_InActive_APP_ID"/>
      <class name="GST_Advance_Prod.TC_InValid_GST"/>
      <class name="RC_Lite_Test.TC_Test_Limits_Exhaust"/>
      <class name="Voter_Advance_Prod.TC_Consent_N"/>
      <class name="RC_Advance_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Advance_Prod.TC_Consent_N"/>
      <class name="GST_Advance_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="Voter_Advance_Test.TC_Valid_Authentication_100"/>
      <class name="GST_Advance_Prod.TC_Product_Subscribed"/>
      <class name="BAV_Lite_Test.TC_InValid_EndPoint"/>
      <class name="PAN_Advance_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="Voter_Advance_Test.TC_Product_Subscribed"/>
      <class name="RC_Lite_Test.TC_Product_Subscribed"/>
      <class name="DL_Advance_Test.TC_InActive_API_key"/>
      <class name="Voter_Advance_Test.TC_InValid_EPIC"/>
      <class name="BAV_Lite_Test.TC_InActive_API_key"/>
      <class name="GST_Advance_Prod.TC_InValid_EndPoint"/>
      <class name="GST_Lite_Prod.TC_Consent_N"/>
      <class name="GST_Advance_Prod.TC_InActive_API_key"/>
      <class name="RC_Advance_Test.TC_Not_Disable_Account"/>
      <class name="GST_Lite_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="BAV_Lite_Test.TC_Consent_N"/>
      <class name="BAV_Lite_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="Passport_Lite_Prod.TC_InValid_customer_first_name"/>
      <class name="DL_Advance_Prod.TC_Consent_N"/>
      <class name="Passport_Lite_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="GST_Lite_Prod.TC_InValid_APP_Id"/>
      <class name="GST_Lite_Test.TC_Consent_N"/>
      <class name="PAN_Lite_Test.TC_Consent_Text_200_PLUS"/>
      <class name="Passport_Lite_Test.TC_InActive_APP_ID"/>
      <class name="Passport_Lite_Prod.TC_InValid_customer_gender"/>
      <class name="GST_Lite_Prod.TC_Valid_Authentication_100"/>
      <class name="GST_Advance_Test.TC_Blank_Body"/>
      <class name="Passport_Lite_Test.TC_InValid_customer_dob"/>
      <class name="Voter_Advance_Prod.TC_InValid_APP_Id"/>
      <class name="Voter_Advance_Test.TC_GET"/>
      <class name="RC_Lite_Test.TC_Low_Balance_Wallet"/>
      <class name="Passport_Lite_Prod.TC_InValid_APP_Id"/>
      <class name="RC_Advance_Test.TC_Blank_APP_Id"/>
      <class name="IFSC_Lite_Test.TC_Low_Balance_Wallet"/>
      <class name="BAV_Lite_Test.TC_Blank_APP_Id"/>
      <class name="RC_Lite_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="PAN_Lite_Prod.TC_Sufficient_Balance_Wallet"/>
      <class name="RC_Advance_Test.TC_Blank_API_key"/>
      <class name="Voter_Advance_Test.TC_InValid_APP_Id"/>
      <class name="PAN_Lite_Prod.TC_Consent_N"/>
      <class name="IFSC_Lite_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="BAV_Lite_Prod.TC_Blank_Body"/>
      <class name="DL_Advance_Prod.TC_Test_Limits_Exhaust"/>
      <class name="RC_Advance_Prod.TC_InValid_API_key"/>
      <class name="Passport_Lite_Prod.TC_InActive_API_key"/>
      <class name="PAN_Advance_Prod.TC_Not_Disable_Account"/>
      <class name="GST_Advance_Test.TC_Valid_Authentication_100"/>
      <class name="Passport_Lite_Prod.TC_InValid_EndPoint"/>
      <class name="Passport_Lite_Test.TC_InValid_APP_Id"/>
      <class name="RC_Advance_Test.TC_Consent_N"/>
      <class name="GST_Lite_Prod.TC_Low_Balance_Wallet"/>
      <class name="Passport_Lite_Prod.TC_InValid_passport_expiry_date"/>
      <class name="Passport_Lite_Prod.TC_Consent_N"/>
      <class name="RC_Lite_Prod.TC_GET"/>
      <class name="IFSC_Lite_Test.TC_Blank_API_key"/>
      <class name="BAV_Lite_Test.TC_InValid_API_key"/>
      <class name="GST_Lite_Test.TC_Consent_Text_200_PLUS"/>
      <class name="PAN_Lite_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="DL_Advance_Prod.TC_InValid_APP_Id"/>
      <class name="GST_Advance_Test.TC_InActive_API_key"/>
      <class name="Passport_Lite_Prod.TC_InValid_customer_dob"/>
      <class name="GST_Lite_Test.TC_InValid_EndPoint"/>
      <class name="Voter_Advance_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="Passport_Lite_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="GST_Advance_Test.TC_InValid_GST"/>
      <class name="BAV_Lite_Test.TC_Blank_API_key"/>
      <class name="RC_Advance_Test.TC_GET"/>
      <class name="GST_Lite_Test.TC_InActive_API_key"/>
      <class name="RC_Lite_Prod.TC_InValid_RC"/>
      <class name="PAN_Advance_Prod.TC_Blank_API_key"/>
      <class name="PAN_Lite_Prod.TC_Product_Subscribed"/>
      <class name="RC_Lite_Prod.TC_Low_Balance_Wallet"/>
      <class name="RC_Advance_Test.TC_InValid_APP_Id"/>
      <class name="GST_Advance_Test.TC_InValid_EndPoint"/>
      <class name="RC_Lite_Prod.TC_InActive_APP_ID"/>
      <class name="BAV_Lite_Test.TC_Not_Disable_Account"/>
      <class name="PAN_Lite_Test.TC_InValid_APP_Id"/>
      <class name="DL_Advance_Prod.TC_InValid_APP_Id_API_Key"/>
      <class name="Voter_Advance_Test.TC_InActive_APP_ID"/>
      <class name="BAV_Lite_Prod.TC_Consent_N"/>
      <class name="Passport_Lite_Prod.TC_Blank_APP_Id"/>
      <class name="IFSC_Lite_Test.TC_InValid_EndPoint"/>
      <class name="GST_Advance_Test.TC_Disable_IP_Whitelisting"/>
      <class name="PAN_Advance_Prod.TC_Product_Subscribed"/>
      <class name="PAN_Advance_Test.TC_Consent_Text_200_PLUS"/>
      <class name="DL_Advance_Test.TC_Consent_Text_200_PLUS"/>
      <class name="Voter_Advance_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="GST_Lite_Prod.TC_GET"/>
      <class name="GST_Lite_Test.TC_Disable_IP_Whitelisting"/>
      <class name="GST_Advance_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="RC_Lite_Test.TC_InActive_API_key"/>
      <class name="GST_Lite_Test.TC_Test_Limits_Exhaust"/>
      <class name="Voter_Advance_Prod.TC_Blank_API_key"/>
      <class name="BAV_Lite_Test.TC_Blank_Body"/>
      <class name="IFSC_Lite_Test.TC_InActive_API_key"/>
      <class name="DL_Advance_Test.TC_InValid_EndPoint"/>
      <class name="RC_Advance_Prod.TC_Low_Balance_Wallet"/>
      <class name="GST_Lite_Prod.TC_InValid_API_key"/>
      <class name="IFSC_Lite_Test.TC_GET"/>
      <class name="IFSC_Lite_Test.TC_Consent_N"/>
      <class name="DL_Advance_Test.TC_Not_Disable_Account"/>
      <class name="Passport_Lite_Prod.TC_Test_Limits_Exhaust"/>
      <class name="Passport_Lite_Test.TC_Disable_IP_Whitelisting"/>
      <class name="RC_Lite_Prod.TC_Blank_API_key"/>
      <class name="DL_Advance_Prod.TC_InValid_DL"/>
      <class name="IFSC_Lite_Test.TC_Disable_IP_Whitelisting"/>
      <class name="RC_Lite_Test.TC_InValid_APP_Id"/>
      <class name="RC_Lite_Test.TC_InValid_EndPoint"/>
      <class name="RC_Lite_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="RC_Advance_Prod.TC_Blank_Body"/>
      <class name="PAN_Advance_Prod.TC_Low_Balance_Wallet"/>
      <class name="DL_Advance_Prod.TC_Blank_APP_Id"/>
      <class name="RC_Lite_Prod.TC_Product_Subscribed"/>
      <class name="BAV_Lite_Prod.TC_Valid_Authentication_100"/>
      <class name="Passport_Lite_Prod.TC_InValid_Passport"/>
      <class name="GST_Lite_Test.TC_Product_Subscribed"/>
      <class name="DL_Advance_Test.TC_Product_Subscribed"/>
      <class name="BAV_Lite_Prod.TC_InValid_IFSC"/>
      <class name="RC_Advance_Prod.TC_Product_Subscribed"/>
      <class name="PAN_Lite_Test.TC_Blank_APP_Id"/>
      <class name="BAV_Lite_Prod.TC_InValid_API_key"/>
      <class name="GST_Lite_Test.TC_InValid_GST"/>
      <class name="GST_Advance_Test.TC_InValid_API_key"/>
      <class name="Voter_Advance_Prod.TC_Valid_Authentication_100"/>
      <class name="Passport_Lite_Test.TC_Blank_APP_Id"/>
      <class name="GST_Lite_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="DL_Advance_Prod.TC_Consent_Text_200_PLUS"/>
      <class name="GST_Advance_Prod.TC_Blank_APP_Id"/>
      <class name="DL_Advance_Prod.TC_Disable_IP_Whitelisting"/>
      <class name="RC_Advance_Test.TC_Test_Limits_Exhaust"/>
      <class name="RC_Advance_Test.TC_InActive_APP_ID"/>
      <class name="PAN_Advance_Prod.TC_InActive_APP_ID"/>
      <class name="DL_Advance_Test.TC_InValid_DL"/>
      <class name="PAN_Lite_Test.TC_Disable_IP_Whitelisting"/>
      <class name="PAN_Lite_Test.TC_Blank_Body"/>
      <class name="GST_Lite_Test.TC_InValid_API_key"/>
      <class name="Voter_Advance_Prod.TC_Test_Limits_Exhaust"/>
      <class name="PAN_Lite_Test.TC_InValid_APP_Id_API_Key"/>
      <class name="Passport_Lite_Test.TC_InValid_passport_expiry_date"/>
      <class name="DL_Advance_Prod.TC_Blank_Body"/>
      <class name="DL_Advance_Test.TC_Low_Balance_Wallet"/>
      <class name="RC_Lite_Test.TC_Consent_Text_200_PLUS"/>
      <class name="GST_Advance_Prod.TC_InValid_APP_Id"/>
      <class name="RC_Lite_Test.TC_Not_Disable_Account"/>
      <class name="BAV_Lite_Test.TC_Disable_IP_Whitelisting"/>
      <class name="Passport_Lite_Prod.TC_Valid_Authentication_100"/>
      <class name="GST_Lite_Test.TC_Low_Balance_Wallet"/>
      <class name="DL_Advance_Prod.TC_InActive_APP_ID"/>
      <class name="RC_Lite_Test.TC_InValid_RC"/>
      <class name="PAN_Lite_Prod.TC_InActive_APP_ID"/>
      <class name="GST_Advance_Test.TC_InValid_APP_Id"/>
      <class name="PAN_Lite_Test.TC_InValid_EndPoint"/>
      <class name="GST_Advance_Test.TC_Consent_Text_200_PLUS"/>
      <class name="PAN_Advance_Prod.TC_Test_Limits_Exhaust"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
